<!doctype css>

html, body {
  padding: 0;
  margin: 0;
}
body {
  color: #fffef1;
  background: #1f1f1f;
  font-family: helvetica;
  font-size: 70%;
}
a {
  color: #FF00FF;
  text-decoration: none;
}
a:visited {
  color: #9400D3;
}
a:hover, a:focus {
  color: #6A5ACD;
  text-decoration: underline;
}
header {
  height: 230px;
  padding: 20px 0 70px 0;
  background: black;
  background-image: url(.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
title  {
  display: block;
  background-color: "#1F1F1F";
  text-align: "center";
  font-weight: bold;
  font-size: 48px;
}
head, h1  {
  color: #fffef1;
  background-color: #1f1f1f;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
