<!doctype css>

html, body {
  padding: 0;
  margin: 0;
}
body {
  color: #fffef1;
  background: #1f1f1f;
  font-family: arial, helvetica, sans-serif;
  font-size: 70%;
}
a {
  color: #FF00FF;
  text-decoration: none;
}
a:visited {
  color: #9400D3;
}
a:hover, a:focus {
  color: #6A5ACD;
  text-decoration: underline;
}
header {
  height: 230px;
  padding: 20px 0 70px 0;
  background: black;
  background-image: url(.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}
title  {
  display: block;
  background-color: "#1F1F1F";
  text-align: "center";
  font-weight: bold;
  font-size: 48px;
}
head, h1  {
  color: #fffef1;
  background-color: #1f1f1f;
}
nav {
  float: left;
  width: 20%;
  height: 100vh; 
  background: #1f1f1f;
  padding: 20px;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
article {
  float: left;
  padding: 20px;
  width: 80%;
  background-color: #1f1f1f;
  height: 100vh;
}
section::after {
  content: "";
  display: table;
  clear: both;
}
table, th, td {
  border: 1px solid black;
  color: #fffef1;
}
footer {
  background-color: #1f1f1f;
  padding: 10px;
  text-align: center;
  color: fffef1;
}
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
